<div class="ui five cards">
  <div class="card">
    <div class="content">
      <i class="right floated huge purple marker icon"></i>
      <br>
      <div class="header">
        {{name}}
        <br>
      </div>

      <div class="meta">
      </div>
      <div class="description">
        {{#if latitude}}
          Lat {{latitude}}
        {{/if}}
        <br>
        {{#if longitude}}
          Long {{longitude}}
        {{/if}}

      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <i class="right floated huge red {{calculations.weatherCodeIcon}}"></i>
      <br>
      <div class="header">
        Weather
      </div>
      <div class="meta">
      </div>
      <div class="description">
        {{#each readings}}{{#if @last}}{{code}}{{/if}}{{/each}}
        <br>
        {{calculations.latestWeatherText}}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <i class="right floated huge blue temperature low icon"></i>
      <br>
      <div class="header">
        Temp
      </div>
      <div class="meta">
      </div>
      <div class="description">
        {{#each readings}}
          {{#if @last}}
            {{#if temp}}
              {{temp}} C
            {{/if}}
          {{/if}}
        {{/each}}
        <br>
        {{#if calculations.fahrenheitTemp}}
          {{calculations.fahrenheitTemp}} F
        {{/if}}
        <br>
        {{#if minMaxValues.Min-temp}}
          Min {{minMaxValues.Min-temp}} C
        {{/if}}
        <br>
        {{#if minMaxValues.Max-temp}}
          Max {{minMaxValues.Max-temp}} C
        {{/if}}

        <br>
        <i class="${station.temperatureTrendingValue}"></i>
      </div>
    </div>
  </div>
  <div class="card">
    <div class=" content">
      <i class="right floated huge teal wind icon"></i>
      <br>
      <div class="header">
        Wind
      </div>
      <div class="meta">
      </div>
      <div class="description">
        {{#if calculations.beaufort}}
          {{calculations.beaufort}} bft
        {{/if}}
        <br>
        {{calculations.cardinalPoint}}
        <br>
        {{#if calculations.windChill}}
          Feels Like {{calculations.windChill}} C
        {{/if}}
        <br>
        {{#if minMaxValues.Min-wind}}
          Min {{minMaxValues.Min-wind}}
        {{/if}}
        <br>
        {{#if minMaxValues.Max-wind}}
          Max {{minMaxValues.Max-wind}}
        {{/if}}


      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <i class="right floated huge orange compress arrows alternate icon"></i>
      <br>
      <div class="header">
        Pressure
      </div>
      <div class="meta">
      </div>
      <div class="description">
        {{#each readings}}
          {{#if @last}}
            {{#if pressure}}
              {{pressure}} hpa
            {{/if}}
          {{/if}}
        {{/each}}
        <br>
        {{#if minMaxValues.Min-pressure}}
          Min {{minMaxValues.Min-pressure}} hpa
        {{/if}}
        <br>
        {{#if minMaxValues.Max-pressure}}
          Max {{minMaxValues.Max-pressure}} hpa
        {{/if}}
      </div>
    </div>
  </div>
</div>